<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileSize</key>
		<string>1669784</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>happyzcool-2016</string>
		<key>fontId</key>
		<string>happyzcool-2016</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>快乐体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/happyzcool-2016.ttf</string>
		<key>fullName</key>
		<string>站酷快乐体</string>
		<key>fullNameCodes</key>
		<string>佰佱佲佳佴</string>
		<key>nameCodes</key>
		<string>佲佳佴</string>
		<key>typeFaceProportion</key>
		<string>0.870</string>
		<key>updateTime</key>
		<string>1598363746</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>5380332</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>mf_manyu</string>
		<key>fontId</key>
		<string>mf manyu</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>漫语体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/mf_manyu.ttf</string>
		<key>fullName</key>
		<string>造字工房漫语体</string>
		<key>fullNameCodes</key>
		<string>侀侁侂侃侄侅來</string>
		<key>nameCodes</key>
		<string>侄侅來</string>
		<key>typeFaceProportion</key>
		<string>0.870</string>
		<key>updateTime</key>
		<string>1598493675</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>4019864</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>mf_zhiyan</string>
		<key>fontId</key>
		<string>mf zhiyan</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>稚言体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/mf_zhiyan.ttf</string>
		<key>fullName</key>
		<string>造字工房稚言体</string>
		<key>fullNameCodes</key>
		<string>侐侑侒侓侔侕侖</string>
		<key>nameCodes</key>
		<string>侔侕侖</string>
		<key>typeFaceProportion</key>
		<string>0.870</string>
		<key>updateTime</key>
		<string>1598445606</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>1437772</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>mf_suhei</string>
		<key>fontId</key>
		<string>mf suhei</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>素黑体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/mf_suhei.ttf</string>
		<key>fullName</key>
		<string>造字工房素黑体</string>
		<key>fullNameCodes</key>
		<string>俀俁係促俄俅俆</string>
		<key>nameCodes</key>
		<string>俄俅俆</string>
		<key>typeFaceProportion</key>
		<string>1.000</string>
		<key>updateTime</key>
		<string>1598492614</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>9701248</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>mf_qingshu</string>
		<key>fontId</key>
		<string>mf qingshu</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>情书体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/mf_qingshu.ttf</string>
		<key>fullName</key>
		<string>造字工房情书体</string>
		<key>fullNameCodes</key>
		<string>俐俑俒俓俔俕俖</string>
		<key>nameCodes</key>
		<string>俔俕俖</string>
		<key>typeFaceProportion</key>
		<string>0.870</string>
		<key>updateTime</key>
		<string>1598492678</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>8344000</string>
		<key>fontFileExt</key>
		<string>otf</string>
		<key>fontFileName</key>
		<string>noto_sans_s_chinese</string>
		<key>fontId</key>
		<string>noto sans s chinese</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>思源黑体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/noto_sans_s_chinese.otf</string>
		<key>fullName</key>
		<string>思源黑体</string>
		<key>fullNameCodes</key>
		<string>你佡佢佣</string>
		<key>nameCodes</key>
		<string>你佡佢佣</string>
		<key>typeFaceProportion</key>
		<string>0.870</string>
		<key>updateTime</key>
		<string>1598492196</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>142940</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>SQRFontListName</string>
		<key>fontId</key>
		<string>SQRFontListName</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>SQRFontListName</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/SQRFontListName.ttf</string>
		<key>fullName</key>
		<string>SQRFontListName</string>
		<key>fullNameCodes</key>
		<string>SQRFontListName</string>
		<key>nameCodes</key>
		<string>SQRFontListName</string>
		<key>typeFaceProportion</key>
		<string>0.810</string>
		<key>updateTime</key>
		<string>1598363818</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>5873188</string>
		<key>fontFileExt</key>
		<string>ttf</string>
		<key>fontFileName</key>
		<string>mf_kesong</string>
		<key>fontId</key>
		<string>mf kesong</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>刻宋体</string>
		<key>fontUrl</key>
		<string>https://oss-asq-download.11222.cn/font/package/mf_kesong.ttf</string>
		<key>fullName</key>
		<string>造字工房刻宋体</string>
		<key>fullNameCodes</key>
		<string>侰侱侲侳侴侵侶</string>
		<key>nameCodes</key>
		<string>侴侵侶</string>
		<key>typeFaceProportion</key>
		<string>1.000</string>
		<key>updateTime</key>
		<string>1598492278</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>3257280</string>
		<key>fontFileExt</key>
		<string>otf</string>
		<key>fontFileName</key>
		<string>DFWaWaGB-W5</string>
		<key>fontId</key>
		<string>DFWaWaGB-W5</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>娃娃体</string>
		<key>fontUrl</key>
		<string>http://oss-asq-download.11222.cn/font/package/DFWaWaGB-W5.otf</string>
		<key>fullName</key>
		<string>华康娃娃体</string>
		<key>fullNameCodes</key>
		<string>仰仱仲仳仴</string>
		<key>nameCodes</key>
		<string>仲仳仴</string>
		<key>typeFaceProportion</key>
		<string>0.666</string>
		<key>updateTime</key>
		<string>1585291087</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>3309140</string>
		<key>fontFileExt</key>
		<string>otf</string>
		<key>fontFileName</key>
		<string>DFSongGB-W5</string>
		<key>fontId</key>
		<string>DFSongGB-W5</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>华康宋</string>
		<key>fontUrl</key>
		<string>http://oss-asq-download.11222.cn/font/package/DFSongGB-W5.otf</string>
		<key>fullName</key>
		<string>华康宋体</string>
		<key>fullNameCodes</key>
		<string>仐仑仒仓</string>
		<key>nameCodes</key>
		<string>仐仑仒仓</string>
		<key>typeFaceProportion</key>
		<string>0.850</string>
		<key>updateTime</key>
		<string>1585291116</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>6096824</string>
		<key>fontFileExt</key>
		<string>otf</string>
		<key>fontFileName</key>
		<string>DFHanziPenGB-W5</string>
		<key>fontId</key>
		<string>DFHanziPenGB-W5</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>翩翩体</string>
		<key>fontUrl</key>
		<string>http://oss-asq-download.11222.cn/font/package/DFHanziPenGB-W5.otf</string>
		<key>fullName</key>
		<string>华康翩翩体</string>
		<key>fullNameCodes</key>
		<string>亰亱亲亳</string>
		<key>nameCodes</key>
		<string>亲亳亴</string>
		<key>typeFaceProportion</key>
		<string>0.960</string>
		<key>updateTime</key>
		<string>1585291137</string>
	</dict>
	<dict>
		<key>fileSize</key>
		<string>7243296</string>
		<key>fontFileExt</key>
		<string>otf</string>
		<key>fontFileName</key>
		<string>DFHannotateGB-W5</string>
		<key>fontId</key>
		<string>DFHannotateGB-W5</string>
		<key>fontImgDay</key>
		<string></string>
		<key>fontImgNight</key>
		<string></string>
		<key>fontName</key>
		<string>手札体</string>
		<key>fontUrl</key>
		<string>http://oss-asq-download.11222.cn/font/package/DFHannotateGB-W5.otf</string>
		<key>fullName</key>
		<string>华康手札体</string>
		<key>fullNameCodes</key>
		<string>亠亡亢亣</string>
		<key>nameCodes</key>
		<string>亢亣交</string>
		<key>typeFaceProportion</key>
		<string>0.920</string>
		<key>updateTime</key>
		<string>1585291152</string>
	</dict>
</array>
</plist>
